@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E5E5E5;

}

.title{
    position: absolute;
    width: 306px;
    height: 63px;
    left: 243px;
    top: 43px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 63px;
    color: #000000;
}

.line{
    position: absolute;
    width: 134px;
    height: 5px;
    left: 243px;
    top: 106px;
    background: #F1D5BB;
}

.rectangle{
    box-sizing: border-box;
    position: absolute;
    width: 132px;
    height: 852px;
    left: 57px;
    top: 43px;
    background: #0C0B0B;
    border-radius: 24px;
}

.blur{
    position: absolute;
    width: 81.01px;
    height: 804px;
    left: 107.99px;
    top: 92.12px;
    background: #0C0B0B;
    opacity: 0.7;
    filter: blur(60px);
    border-radius: 24px;
}

.logo{
    position: absolute;
    width: 51px;
    height: 102px;
    left: 99.50px;
    top: 85px;
}

.home{
    position: absolute;
    left: 4.25%;
    right: 99.35%;
    top: 28.7%;
    bottom: 75.3%;
/* background: #FFFFFF; */
}

.homeb{
    background: none;
    border: none;
    width: 132px;
    height: 122px
}

.menu{
    position: absolute;
    left: 4.25%;
    right: 99.35%;
    top: 52.3%;
    bottom: 61.7%;

}

.menub{
    background: none;
    border: none;
    width: 132px;
    height: 122px;
}

.cart{
    position: absolute;
    left: 4.25%;
    right: 90.35%;
    top: 73.6%;
    bottom: 46.4%;

    background: #FFFFFF;
}

.cartb{
    background: none;
    border: none;
    width: 132px;
    height: 122px;
}

.location{
    position: absolute;
    left: 4.25%;
    right: 90.56%;
    top: 610px;
    bottom: 31.1%;
    background: #FFFFFF;
}

.locationb{
    background: none;
    border: none;
    width: 132px;
    height: 122px;
}

.back{
    position: absolute;
    left: 4.25%;
    right: 90.56%;
    top: 750px;
    bottom: 17%;
}

.backb{
    background: none;
    border: none;
    width: 132px;
    height: 122px;
}

.cartb:hover{
    cursor: pointer;
    background-color: #F1D5BB;
    color: #FFFFFF;
    border: 1px solid #F1D5BB;
}

.homeb:hover{
    cursor: pointer;
    background-color: #F1D5BB;
    color: #FFFFFF;
    border: 1px solid #F1D5BB;
}

.menub:hover{
    cursor: pointer;
    background-color: #F1D5BB;
    color: #FFFFFF;
    border: 1px solid #F1D5BB;
}

.section1{
    position: absolute;
    width: 608px;
    height: 608px;
    left: 244px;
    top: 135px;
    background: #F1D5BB;
    border-radius: 3px;
}

.cart1{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 25px;
    top: 30px;
}

.cart2{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 25px;
    top: 170px;
}


.cart3{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 25px;
    top: 320px;
}
.cart4{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 25px;
    top: 460px;
}

.p1{
    position: absolute;
    width: 162px;
    height: 31px;
    left: 120px;
    top: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    color: #000000;

}

.a1{
    position: absolute;
width: 65px;
height: 25px;
left: 120px;
top: 59px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;

}

.p2{
    position: absolute;
    width: 162px;
    height: 31px;
    left: 120px;
    top: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    color: #000000;

}

.a2{
    position: absolute;
width: 65px;
height: 25px;
left: 120px;
top: 59px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;

}

.p3{
    position: absolute;
    width: 162px;
    height: 31px;
    left: 120px;
    top: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    color: #000000;

}

.a3{
    position: absolute;
width: 65px;
height: 25px;
left: 120px;
top: 60px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;

}

.p4{
    position: absolute;
    width: 201px;
    height: 31px;
    left: 120px;
    top: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 31px;
    color: #000000;

}

.a4{
    position: absolute;
width: 65px;
height: 25px;
left: 120px;
top: 60px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;

}

.minus{
    position: absolute;
width: 11px;
height: 24px;
left: 370px;
top: 30px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;
}

.white1{
    position: absolute;
    width: 46px;
    height: 35px;
    left: 393px;
    top: 30px;
    text-align: center;
    background: #FFFFFF;
}

.no1{
    position: absolute;
width: 12px;
height: 25px;
left: 15px;
top: 5px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;

}

.no2{
    position: absolute;
    width: 12px;
    height: 25px;
    left: 15px;
    top: 5px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.white2{
    position: absolute;
    width: 46px;
    height: 35px;
    left: 393px;
    top: 30px;
    text-align: center;
    background: #FFFFFF;
}

.white3{
    position: absolute;
    width: 46px;
    height: 35px;
    left: 393px;
    top: 30px;
    text-align: center;
    background: #FFFFFF;
}

.no3{
    position: absolute;
width: 12px;
height: 25px;
left: 15px;
top: 5px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;

}

.white4{
    position: absolute;
    width: 46px;
    height: 35px;
    left: 393px;
    top: 30px;
    text-align: center;
    background: #FFFFFF;
}

.no4{
    position: absolute;
width: 12px;
height: 25px;
left: 15px;
top: 5px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;

}

.plus{
    position: absolute;
width: 12px;
height: 25px;
left: 450px;
top: 35px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #000000;
}

.cancel1{
    position: absolute;
    height: 20px;
width: 20px;
left: 530px;
top: 30px;
border-radius: 0px;

}

.cancel2{
    position: absolute;
    height: 20px;
width: 20px;
left: 530px;
top: 30px;
border-radius: 0px;

}

.cancel3{
    position: absolute;
    height: 20px;
width: 20px;
left: 530px;
top: 30px;
border-radius: 0px;

}

.cancel4{
    position: absolute;
    height: 20px;
width: 20px;
left: 530px;
top: 30px;
border-radius: 0px;

}

.section2{
    position: absolute;
    width: 443px;
    height: 286px;
    left: 893px;
    top: 135px;
    background: #F1D5BB;
    border-radius: 3px;
}

.sub{
    position: absolute;
width: 249px;
height: 50px;
left: 40px;
top: 15px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
color: #000000;
}

.sub1{
    position: absolute;
width: 118px;
height: 38px;
left: 40px;
top: 100px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
color: rgba(0, 0, 0, 0.8);
}

.total{
    position: absolute;
width: 97px;
height: 38px;
left: 190px;
top: 100px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
color: rgba(0, 0, 0, 0.8);
}

.confirm{
    position: absolute;
width: 365px;
height: 78px;
left: 40px;
top: 180px;
font-family: 'Mulish';
text-align: center;
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
color: #FFFFFF;
background: #000000;
}

.confirm:hover{
    cursor: pointer;
    border: none;
}

.section3{
    position: absolute;
    width: 443px;
    height: 326px;
    left: 893px;
    top: 417px;
    background: #E5E5E5;
    border: 1px solid #F1D5BB;
    border-radius: 3px;
}

.promo{
    position: absolute;
width: 227px;
height: 50px;
left: 40px;
top: 15px;

font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
color: #000000;
}

.form_input{
    position: absolute;
width: 365px;
height: 78px;
left: 40px;
top: 100px;
outline: none;
background: #E5E5E5;
border: 1px solid #F1D5BB;
padding-left: 15px;
font-size:larger
}

.form_input::placeholder{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 38px;
    color: rgba(0, 0, 0, 0.6);
}


.apply{
    position: absolute;
width: 166px;
height: 78px;
left: 40px;
top: 220px;
font-family: 'Mulish';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
color: #FFFFFF;
background: #000000;
}

.apply:hover{
    cursor: pointer;
    
}

.copyright{
    position: absolute;
    width: 250px;
    height: 19px;
    left: 244px;
    top: 910px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #000000;
    padding-bottom: 20px;

}